@using Automata_DTaylor_FinancialPortal.ViewModels
@model UserProfileViewModel
@{
    ViewBag.Title = "Manage";
}
<br />
<h2>Profile Settings</h2>
<br />

<div class="container-fluid">
    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { enctype = "Multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("UserViewModel.ProfilePic", Model.UserViewModel.ProfilePic)
        <div class="row">
            <div class="panel panel-inverse FullWidth" data-sortable-id="index-5">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">User Settings</h4>
                </div>
                <div class="panel-body p-t-0">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserViewModel.FirstName, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.UserViewModel.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserViewModel.LastName, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.UserViewModel.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserViewModel.Email, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.UserViewModel.Email, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group m-b-30">
                            @Html.LabelFor(model => model.UserViewModel.Avatar, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <input type="file" name="UserViewModel.Avatar" class="filestyle" data-dragdrop="false" data-btnClass="btn-pink" data-buttonBefore="true" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-inverse FullWidth" data-sortable-id="index-5">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Password Settings</h4>
                </div>
                <div class="panel-body p-t-0">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ChangePasswordViewModel.OldPassword, new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.PasswordFor(model => model.ChangePasswordViewModel.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ChangePasswordViewModel.NewPassword, new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.PasswordFor(model => model.ChangePasswordViewModel.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ChangePasswordViewModel.ConfirmPassword, new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.PasswordFor(model => model.ChangePasswordViewModel.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="min-width:100%">
            <div class="col-md-12 text-center m-b-30" style="margin-top:30px">
                <input type="submit" value="Save" class="btn btn-teal ThirdWidth" />
            </div>
        </div>


    }
</div>

